language: node_js
node_js:
    - "0.11"
    - "0.10"
    - "0.8"
    
    
env:
    - TEST0=test0

before_install:
    - true
    
    
install:
    - npm install
    
    
before_script:
    - true
    
script:
    - echo '_testing____________________________________________'
    - true
    - false
    - npm test
    
# after_success or after_failure

after_script:
    - true
    
